.list-wrap{
    min-height: 200px;
    background: #202020;
    
    margin:5px;
    border-radius: 25px;
    margin-top: -25px;
}

.list-wrap:hover{
    transition: .3s;
    opacity: .7;
    color: white;
}
.top-userdetails{
    display: flex;
}
.top-userdetails h2{
    padding: 5px;
    font-size: 22px;
}
.image-part img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    /* background-color: white; */
    border-radius: 50px;
    padding: 5px;
}
.post-date{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 40px;
}
.post-date p{
    font-size: 14px;
    padding: 10px;
    color: dimgray;
    height: 0px;
}
.delete-post{
    display: flex;
    justify-content: end;
}